body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#container {
    display: flex;
    align-items: stretch; /* Ensures that children stretch to the same height */
    justify-content: center;
    gap: 8px;
}

svg {
    display: block;
    border: 2px solid lightgrey;
}

#map {
    flex-shrink: 0; /* Prevents the SVG from shrinking */
}

#panel {
    width: 200px;
    flex-shrink: 0; /* Prevents the panel from shrinking */
    border: 2px solid lightgrey;
    background-color: #eee; /* Just for visualization; can be omitted */
    padding: 8px;
}

#buttonPanel {
    padding-bottom: 8px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 8px;

    display: flex;
    gap: 4px;
}

button {
    font-size: 1.5rem; 
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #e4e4e4;
}
